#!/bin/sh

set -e  # Exit on error

RED='\033[0;31m'
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
NC='\033[0m' # No Color

print_message() {
    echo -e "${GREEN}[INFO]${NC} $1"
}

print_warning() {
    echo -e "${YELLOW}[WARNING]${NC} $1"
}

print_error() {
    echo -e "${RED}[ERROR]${NC} $1"
}

echo ""

{{ if eq .chezmoi.os "linux" }}

    if ! fc-list | grep -qi "JetBrainsMono.*Nerd"; then

        FONT_PATH="/usr/local/share/fonts/"
        JETBRAINS_URL="https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/JetBrainsMono.zip"
        JETBRAINS_FONT="$FONT_PATH/JetBrainsMono"

        if [ -f "/tmp/Jetbrains-Mono.zip" ]; then

        print_message "File found at /tmp/Jetbrains-Mono.zip "

        else
           print_message "Downloading JetBrains Mono Nerd Font..."

            if command -v wget &>/dev/null; then

            wget -q --force-progress -O /tmp/Jetbrains-Mono.zip "$JETBRAINS_URL"

            elif command -v curl &>/dev/null; then

                curl -L --progress-bar -o /tmp/Jetbrains-Mono.zip "$JETBRAINS_URL"

            else
                print_message "Error: Neither wget nor curl is installed."
                exit 1
            fi
        fi

            print_message "Creating Directory for JetBrains..."

            sudo mkdir -p "$JETBRAINS_FONT"
            sudo chmod 755 "$JETBRAINS_FONT"

            print_message "Extracting fonts..."
            sudo unzip -qo /tmp/Jetbrains-Mono.zip -d "$JETBRAINS_FONT"

            sudo chmod 644 "$JETBRAINS_FONT"/*

            echo ""

            print_message "Updating system font cache..."
            sudo fc-cache -f &>/dev/null

        print_message "Successfully Installed Jetbrains Font"

        echo ""
    fi

    {{ if eq .chezmoi.osRelease.id "fedora" }}

        print_message "Fedora Linux Detected!"

#        if ! dnf copr list | grep -q "wezfurlong/wezterm-nightly"; then
#            print_message "Enabling wezterm-nightly COPR..."
#            sudo dnf copr enable wezfurlong/wezterm-nightly -y
#        else
#            print_message "wezterm-nightly COPR already enabled, skipping..."
#        fi

        if ! dnf repolist | grep -qi "librewolf"; then

        print_message "Adding Librewolf repo..."
        sudo dnf config-manager addrepo --from-repofile=https://repo.librewolf.net/librewolf.repo

        fi

        sudo dnf install -y \
            git \
            git-crypt \
            delta \
            gnupg \
            stow \
	        nvim \
            kitty \
            zsh \
            zoxide \
            fzf \
            fastfetch \
            onefetch \
            cargo \
            nix \
            xz \
            jq \
            eza \
            gcc \
            valgrind \
            librewolf

        if ! command -v vesktop &> /dev/null; then

            # Vesktop Installation

            VESKTOP_URL="https://vencord.dev/download/vesktop/amd64/rpm"
            VESKTOP_RPM="/tmp/vesktop.rpm"

            if [ ! -f "$VESKTOP_RPM" ]; then
                print_message "Downloading Vesktop RPM..."
                echo ""
            wget -O "$VESKTOP_RPM" "$VESKTOP_URL" || curl -L -o "$VESKTOP_RPM" "$VESKTOP_URL"

            fi

            # -ne -> not equal
            if [ $? -ne 0 ]; then
                print_error "Failed to download RPM package"
                exit 1
            fi

            print_message "Installing RPM package..."
            sudo dnf install -y "$VESKTOP_RPM"

            if [ $? -eq 0 ]; then
                print_message "Package installed successfully!"
            else
                print_error "Package installation failed"
                exit 1
            fi

            # Clean up
            rm -f "$VESKTOP_RPM"
        fi
    {{ end }}
{{ end }}
